.rating-home {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.templates-primary {
  display: flex;
}

.rating-wrap h1 {
  color: var(--header-color);
  text-align: center;
  font-size: 40px;
}

.rating-home h3 {
  color: var(--header-color);
  font-size: 25px;
  margin-top: 0;
  text-align: center;
}

.source-sheet {
  /* Vars used to transform border, padding, and margin to top in mobile */
  --border-width: 3px;
  --padding: 35px;
  --margin: 30px;
  border-left: var(--border-width) solid var(--border-gray);;
  padding-left: var(--padding);
  margin-left: var(--margin);
}

.source-sheet-input-wrap {
  display: flex;
}

.source-sheet .source-sheet-input, .form-submit input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid gray;
  margin-top: 10px;
}

.source-sheet .source-sheet-input-wrap {
  width: calc(100% + 40px);
}

.source-sheet h3 {
  margin-left: 20px;
}

.source-sheet button {
  padding: 10px 25px;
  float: right;
  margin-top: 10px;
  background: white;
  border: 1px solid gray;
  border-radius: 3px;
  background: var(--primary-color);
  color: white;
  opacity: 0.5;
  pointer-events: none;
  margin-left: 5px;
  cursor: pointer;
}

.source-sheet button.enabled {
  opacity: 1;
  pointer-events: all;
}

.source-sheet .explanation {
  width: 100%;
  max-width: 367.94px;
  box-sizing: border-box;
  margin-top: 20px;
  font-size: 15px;
  border: none;
}

.source-sheet .explanation a {
  color: var(--link-color);
}

.templates-list {
  margin-top: 8px;
  display: block;
}

.template {
  width: 388px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 3px;
  margin-bottom: 5px;
  margin-left: 10px;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  color: black;
  text-decoration: none;
}

.template:hover {
  background: var(--hover-gray);
}

.template i {
  color: #858585;
  margin-right: 10px;
}

.templates-list .template-list-show-more {
  float: right;
  color: var(--link-color);
  margin-right: 10px;
  margin-top: 7px;
  text-decoration: none;
  border: none;
  background: none;
  font-size: 16px;
  cursor: pointer;
}

.template-recommended-explanation {
  color: gray;
  font-size: 15px;
}

@media (max-width: 850px) {
  .rating-home {
    flex-direction: column;
    align-items: center;
  }
  .source-sheet {
    border-left: none;
    padding-left: 0;
    margin-left: 0;
    border-top: var(--border-width) solid var(--border-gray);
    padding-top: var(--padding);
    margin-top: var(--margin);
    margin-bottom: 10px;
  }
  .source-sheet h3 {
    margin-left: 0;
  }
  .source-sheet .explanation {
    max-width: calc(100% - 40px) !important;
  }
  .source-sheet-input-wrap {
    max-width: 100%;
  }
}

/* FORM */

.rate-form {
  justify-content: center;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 0 10px;
}

.rate-form .rate-form-controls {
  text-align: center;
}

.rate-form .finish-button {
  cursor: pointer;
  display: inline-block;
  margin-top: 10px;
  border: 1px solid var(--border-gray);
  bottom: 40px;
  color: var(--link-color);
  padding: 2px 55px;
  border-radius: 3px;
}

@media (max-width: 850px) {
  .rate-form {
    flex-direction: column-reverse;
    align-items: center;
  }
  .rate-form-sidebar {
    flex-grow: 1;
  }
}

/* SIDEBAR */

.rate-form-sidebar {
  vertical-align: top;
  border-radius: 3px;
  margin-right: 10px;
  min-width: 340px;
  margin-bottom: 10px;
}

.rate-form-sidebar .sidebar-title {
  background: var(--header-color);
  color: white;

  text-align: center;
  padding: 2px;
  border: 1px solid var(--border-gray);
  border-bottom-width: 0;
}

.rate-form-sidebar .sidebar-item {
  text-align: left;
  padding: 10px 15px;
  border: 1px solid var(--border-gray);
  border-bottom-width: 0;
  cursor: pointer;
}

.rate-form-sidebar .sidebar-item:last-child {
  border-bottom-width: 1px;
}

.rate-form-sidebar .sidebar-item-active {
  font-weight: bold;
}

.rate-form-main {
  max-width: 900px;
  padding-bottom: 20px;
}

.rate-form-main h3 {
  color: var(--header-color);
  text-align: center;
  margin-bottom: 10px;
  font-weight: normal;
}

/* RATE FORM SUBMIT */

.form-submit {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

.submit-box {
  padding: 20px;
  padding-bottom: 40px;
  background: var(--hover-gray);
  border: 1px solid var(--border-gray);
}

.form-submit button {
  padding: 10px 25px;
  font-size: 16px;
  margin: 0 auto;
  margin-top: 10px;
  background: white;
  border: 1px solid gray;
  border-radius: 3px;
  background: var(--primary-color);
  color: white;
  cursor: pointer;
}

.form-submit h1 {
  color: var(--header-color)
}

.submit-box h4 {
  margin: 5px;
  font-size: 18px;
}

.form-submit input {
  width: unset;
  display: inline-block;
  margin-right: 3px;
  font-size: 16px;
}

.form-submit .submitted {
  font-size: 20px;
  position: relative;
  top: 10px;
}

.form-submit i {
  margin-right: 10px;
}

.explanation-wrap {
  display: flex;
  justify-content: center;
}

.explanation {
  background: rgb(233, 233, 233);
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 3px;
  max-width: 50%;
  margin: 0 auto;
  text-align: left;
  display: inline-block;
}