.nav-wrap {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  margin-top: 30px;
}

.back, .next {
  display: inline-block;
  font-family: Poppins;
  color: var(--link-color);
  cursor: pointer;
  text-decoration: none;
}

.next.disabled, .back.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.back { margin-right: 10px; }
.next { margin-left: 10px; }
.back i { margin-right: 7px; }
.next i { margin-left: 7px; }

@media (max-width: 500px) {
  .nav-wrap {
    margin-top: 20px;;
  }
}