.raw-data-wrap {
  text-align: center;
}

.raw-data-wrap h1 {
  color: var(--header-color);
}

.explanation {
  background: rgb(233, 233, 233);
  margin-bottom: 30px;
  padding: 10px;
  border-radius: 3px;
  display: inline-block;
}

.raw-data-wrap table {
  border-spacing: 0;
  margin: 0 auto;
}

.raw-data-wrap th, .raw-data-wrap td {
  border-width: 1px;
  border-style: solid;
  padding: 5px;
}

.feelings-list {
  text-align: left;
  margin: 0;
  height: 120px;
  overflow-y: scroll;
}

.feeling-color {
  color: white;
}

.prayer-table {
  margin-bottom: 15px;
}