:root {
  --primary-color: #663399;
  --header-color: #361952;
  --link-color: #0070c0;
  --hover-gray: rgb(235, 235, 235);
  --border-gray: #bcbcbc;
}

html, body, :global(#root), .app {
  padding: 0;
  margin: 0;
  height: 100%;
}

.app {
  font-family: Poppins;
  display: flex;
  flex-direction: column;
}