:root {
  --primary-color: #663399;
  --header-color: #361952;
  --link-color: #0070c0;
  --hover-gray: rgb(235, 235, 235);
  --border-gray: #bcbcbc;
}

body {
  font-family: Poppins;
  padding: 0;
  margin: 0;
}