.section-button {
  text-align: center;
  border: 1px solid gray;
  border-radius: 3px;
  margin: 10px;
  height: 216px;
  width: 182px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: white;
  color: black;
  text-decoration: none !important;
}

.section-button:hover {
  background: var(--hover-gray);
}

.section-button i {
  font-size: 100px;
}

.section-title {
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
}

@media (max-width: 600px) {
  .section-buttons {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }
  .section-button {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin-right: 0;
    margin-left: 0;
  }
}