.home-wrap {
  /* text-align: center; */
}

.home-wrap h1 {
  text-align: center;
  font-size: 46px;
  margin-bottom: 0;
  color: var(--header-color);
}

.section-buttons {
  display: flex;
  justify-content: center;
  /* background: rgb(246, 246, 246); */
  padding: 30px;
}

.section-button {
  text-align: center;
  border: 1px solid gray;
  padding: 40px;
  border-radius: 3px;
  margin: 10px;
  width: 100px;
  cursor: pointer;
  box-shadow: 2px 2px 2px 1px lightgrey;
  background: white;
}

.section-button:hover {
  background: rgb(235, 235, 235);
}

.section-button:active {
  box-shadow: 4px 4px 2px 1px lightgray;
}

.section-button i {
  font-size: 100px;
}

.section-title {
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
}

.section-button-link {
  color: black;
  text-decoration: none !important;
}