.home-wrap {
  /* text-align: center; */
}

.home-wrap h1 {
  text-align: center;
  font-size: 46px;
  margin-bottom: 0;
  color: var(--header-color);
}

.section-buttons {
  display: flex;
  justify-content: center;
  /* background: rgb(246, 246, 246); */
  padding: 30px;
}