.home {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.app-title {
  font-size: 46px;
  margin-bottom: 0;
  color: var(--header-color);
}

.section-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px;
}

.explanation {
  background: rgb(233, 233, 233);
  padding: 10px 20px;
  border-radius: 3px;
  max-width: 60%;
  margin: 0 auto;
  display: inline-block;
}

footer {
  padding: 10px;
  margin: 30px auto 10px auto;
}

footer a, .explanation a {
  color: var(--link-color);
  text-decoration: none;
}