.home {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.app-title {
  font-size: 46px;
  margin-bottom: 0;
  color: var(--header-color);
  color: white;
}

.section-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px;
}

.section-buttons a {
  border: 1px solid lightgray !important;
  border-radius: 10px;
}

.explanation {
  background: rgb(233, 233, 233);
  padding: 10px 20px;
  /* border: 1px solid black; */
  border: 2px solid white;
  border-radius: 3px;
  max-width: 50%;
  margin: 0 auto;
  text-align: left;
  margin-top: 30px;
  display: inline-block;
  background: none;
  color: white;
  /* border: none; */
  /* border-bottom: 2px solid white; */
}

.explanation div:first-child {
  /* border-bottom: 1px solid white;
  padding-bottom: 8px; */
}

.background {
  background: linear-gradient(180deg, var(--primary-color), transparent);
  height: 100%;
  /* height: 400px; */
}

footer {
  padding: 10px;
  margin: 30px auto 10px auto;
}

footer a, .explanation a {
  color: var(--link-color);
  text-decoration: none;
}