.header {
  padding: 10px;
  color: white;
  background: var(--primary-color);
}

.home-link {
  color: white;
  text-decoration: none;
}

.home-link {
  display: inline-flex;
  align-items: center;
}

.logo {
  width: 25px;
  margin-right: 7px;
  position: relative;
  top: 1px;
}