.header {
  padding: 10px;
  color: white;
  background: var(--primary-color);
}

.home-link {
  /* color: black; */
  /* color: rebeccapurple; */
  color: white;
  text-decoration: none;
}

.home-link {
  display: flex;
  align-items: center;
}

.logo-frown, .logo-smile {
  font-size: 25px;
}

.logo-frown {
  position: relative;
  left: 10px;
  z-index: 0;
}

.logo-smile {
  z-index: 3;
  position: relative;
  left: 2px;
  color: white;
  background: var(--primary-color);
  border-radius: 50%;
  margin-right: 7px;
}