.check-in-wrap {
  margin-bottom: 30px;
}

.check-in-wrap h1 {
  text-align: center;
  color: var(--header-color);
}

.no-prayers-found {
  color: #838383;
  font-size: 20px;
  font-style: italic;
  text-align: center;
}