.check-in-wrap {
  margin-bottom: 30px;
}

.check-in-wrap h1 {
  text-align: center;
  color: var(--header-color);
}

.feelings-buttons-wrap {
  width: 60%;
  max-width: 1100px;
  margin: 0 auto;
}

.no-prayers-found {
  color: #838383;
  font-size: 20px;
  font-style: italic;
  text-align: center;
}

.prayer-footer-message {
  color: gray;
}

.prayer-footer-message .also-tagged {
  display: inline-block;
  color: gray;
}

.prayer-footer-message .also-tagged .also-tagged-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
}

.prayer-footer-message .also-tagged:last-of-type {
  margin-right: 5px;
}