.prayer {
  max-width: 900px;
  border: 1px solid var(--border-gray);
  border-top-width: 0;
  margin: 0 auto;
  margin-bottom: 30px;
  border-radius: 3px;
  box-sizing: border-box;
  background: white;
}

.prayer-header {
  padding: 5px 10px;
  margin: 0;
  text-align: center;
  color: white;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
}

.prayer-footer {
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--border-gray);
  background: #f6f6f6;
}

.prayer-footer .sefaria-link {
  text-decoration: none;
  color: blue;
}

.hebrew {
  font-family: 'Rubik';
  direction: rtl;
  margin-bottom: 5px;
  font-size: 18px;
}

.english {
  font-size: 18px;
}

.prayer-title {
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

@media (max-width: 500px) {
  .prayer-text {
    max-height: 242px;
    height: 242px;
    overflow-y: scroll;
  }
}